* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: black;
    position: relative;
}
header {
    position: fixed;
    width: 100%;
    background-color: black;
}
header nav {
    display: flex;
    justify-content: space-around;
}
header nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div:nth-of-type(1) {
    width: 50%;
    margin-left: -85px;
}
header nav div:nth-of-type(2) {
    width: 20%;
    margin-right: -90px;
}
nav .logo {
    width: 7rem;
}
.imagem-inicial {
    width: 100%;
    margin-top: 5%;
}
.elementos-imagem-inicial {
    position: absolute;
    width: 60%;
    top: 25%;
    left: 4%;
}
.elementos-imagem-inicial img {
    width: 500px;
}
.botoes-imagem-inicial {
    margin-top: 3%;
}
.botoes-imagem-inicial button{
    background: rgba(0, 0, 0, 0.6);
    padding: 1% 5%;
    margin: 0 2%;
    border: none;
}
.search{
    width: 20px;
    background-color: white;
}
.notification {
    width: 20px;
    background-color: white;
}
.emoji-quadrado {
    width: 40px;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 93%;
}
.coluna {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titulo-coluna {
    width: 100%;
    margin-bottom: 1%;
    font-weight: 500;
}
.tumbnail {
    width: 195px;
    height: 130px;
    margin-bottom: 5%;
}